* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.btn {
  padding: 30px;
  border-radius: 8px;
  border: none;
  background-color: skyblue;
  color: white;
  font-size: 18px;
}

.pluse {
  font-size: 60px;
  margin: 100px;
  font-weight: bold;
}

.pluse:hover {
  animation-name: bb;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.btn:hover {
  animation-name: aa;
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  animation-fill-mode: backwards;
}

@keyframes aa {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bb {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(60deg) scale(1.6);
  }
}

.container {
  height: 100vh;
  width: 400px;
  background-color: black;
  position: absolute;
  transform: translate(-300px);
  transition: all 0.5s;
}

.container:hover {
  transform: translate(-100px);
}

.container:hover .one {
  transform: translate(180px);
}

.container:hover .two {
  transform: translate(180px);
  animation-name: cc;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.container h3 {
  color: white;
  display: flex;
  padding-top: 100px;
}

.one {
  transform: translate(300px);
}
.two {
  transform: translate(120px);
}

@keyframes cc {
  0% {
    transform: translate(120px);
  }
  50% {
    transform: translate(320px);
  }
  100% {
    transform: translate(180px);
  }
}
