* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: ; */
}

.main_background {
  width: 100%;
  height: 500px;
  background-image: url(./img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  text-align: center;
}

.main_title {
  color: white;
  font-size: 40px;
  margin-top: 200px;
}

.main_des {
  color: white;
}

.main_btn {
  background-color: gray;
  padding: 10px;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}

.des_box {
  position: relative;
  background-color: antiquewhite;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin: auto;
  top: -40px;
  max-width: 600px;
}

.text_input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.contact_container {
  margin: 0 auto;
  background-color: burlywood;
  width: 500px;
  padding: 50px;
}

.contact_container h1 {
  margin-bottom: 20px;
}

.contact_container label {
  display: block;
  margin-bottom: 5px;
}

.contact_container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.name_container {
  display: flex;
  justify-content: space-between;
}

.contact_container textarea {
  width: 100%;
  margin-bottom: 10px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

.sub_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub_container input {
  margin: auto;
  margin-right: 4px;
}

.sub_container label {
  margin: 0;
}

.footer_btn {
  padding: 5px 25px;
  border-radius: 6px;
  border: none;
  background-color: brown;
  color: white;
}

.navbar_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  background-color: #ff7576;
  color: white;
  align-items: center;
}

.navbar_container p {
  font-size: 30px;
  font-weight: bold;
}

.navbar_container button {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 10px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
}

.pseudo::first-letter {
  color: red;
  font-size: 30px;
}

progress {
  appearance: none;
}
progress::-webkit-progress-bar {
  background: blue;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #ccc;
}
progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: red;
}
