.container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.content_box {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .content_box {
    color: red;
    width: 30%;
  }
  .container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .content_box {
    color: blue;
    width: 100%;
  }
  .container {
    flex-direction: column;
    gap: 30px;
  }
}
